.row
  .large-12.columns
    %h3 Edit Work Order
    = form_for @workorder do |f|
      %fieldset 
        %legend Customer Contact Info
        .row
          .large-6.columns
            = f.label :name
            = f.text_field :name
        .row
          .large-6.columns
            = f.label :email
            = f.text_field :email
        .row
          .large-6.columns
            = f.label :phone, "Phone"
            = f.text_field :phone
        .row
          .large-6.columns
            = f.label :address
            = f.text_field :address
        .row
          .large-6.columns
            = f.label :city, "City"
            = f.text_field :city
        .row
          .large-6.columns
            = f.label :state, "State, Province, Region"
            = f.text_field :state
        .row
          .large-6.columns
            = f.label :zip, "Zip"
            = f.text_field :zip
        .row
          .large-7.columns
            = f.label :country, "Country"
            = f.text_field :country
      %fieldset 
        %legend Job Details
        .row
          .large-4.columns
            = f.label :jobtype, "Job Type"
            = f.select :jobtype, ["Wedding", "Portrait", "Corporate"], include_blank: 'Select type of photoshoot'
        .row
          .large-12.columns
            = f.label :description, "Description"
            = f.text_area :description, rows: 6
        .row
          .large-12.columns
            = f.label :eventdate, "Event Date"
            = f.text_field :eventdate
        .row
          .large-12.columns
            = f.label :quotedprice, "Quotedprice"
            = f.text_field :quotedprice
        .row
          .large-4.columns
            = f.label :orderstatus, "Order Status"
            = f.select :orderstatus, ["Client intake", "Quoted price", "Actively shooting", "Completed"], include_blank: 'Set Order Status'
        .row
          .large-12.columns
            = f.label :comments, "Comments"
            = f.text_area :comments, rows: 8
        .row 
          .large-3.columns
            = f.submit "Save", class: 'button'