%h3 List Work Order status at top (pending/processed/problems) - INVOICE #
.row
  .large-6.columns
    .panel
      %h5 Customer Information
      %p
        = @workorder.name
        %br/
        = mail_to @workorder.email
        %br/ 
        = @workorder.phone  
        %br/ 
        = @workorder.address
        %br/ 
        #{@workorder.city}, #{@workorder.state} &nbsp; #{@workorder.zip}
        %br/ 
        = @workorder.country
  .large-6.columns
    .panel.callout.radius
      %h5 This is a callout panel.
      %p Maybe list more details about the status of the workorder

%table{border: "0", cellpadding: "0", cellspacing: "0", summary: "A list of all galleries", width: "100%"}
  %caption
  %thead
    %tr
      %th{scope: "col"} Date Opened
      %th{scope: "col"} Job Type
      %th{scope: "col"} Description
      %th{scope: "col"} Event Date
      %th{scope: "col"} Quoted Price
      %th{scope: "col"} Order Status
      %th{scope: "col"} Comments
      %th{scope: "col"} &#160;
      %th{scope: "col"} &#160;
  %tbody
    %tr
      %td [Need to fill in - capture from DB??]
      %td= @workorder.jobtype
      %td= @workorder.description
      %td= @workorder.eventdate
      %td= @workorder.quotedprice
      %td= @workorder.orderstatus
      %td= @workorder.comments
%a.tiny.button.success{href: "#"} Send Invoice
= link_to "Edit", edit_workorder_path(@workorder), class: "tiny button success"
= link_to "Delete", @workorder, method: :delete, class: 'tiny button alert', confirm: 'Are you sure you want to delete this workorder?'
