-# navigation styled for Zurb Foundation 4
%nav.top-bar
  %ul.title-area
    / Title Area
    %li.name
      %h1
        %a{href: "/"} Sahar Photography
    / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
    %li.toggle-topbar.menu-icon
      %a{href: "#"}
        %span Menu
  %section.top-bar-section
    / Left Nav Section
    %ul.left
      %li.divider
      %li.has-dropdown
        %a{href: "#"} Galleries
        %ul.dropdown
          %li
            %a{href: "#"} Gallery X
          %li
            %a{href: "#"} Gallery Y
          %li
            %a{href: "#"} Gallery Z
      %li.divider
      %li.has-dropdown
        %a{href: "#"} Services
        %ul.dropdown
          %li
            = link_to "Weddings", services_weddings_path
          %li
            = link_to "Portrait", services_portrait_path
          %li
            = link_to "Corporate", services_corporate_path
      %li.divider
      %li
        = link_to "Blog", blog_index_path
      %li.divider
      %li.has-dropdown
        = link_to "Contact", contact_index_path
        %ul.dropdown
          %li
            = link_to "Photoshoot", contact_photoshoot_path
          %li
            = link_to "Mailing List", contact_mailinglist_path
      %li.divider 
      %li 
        = link_to "About", about_index_path
      %li 
        = link_to "Store", store_index_path 
    / Right Nav Section
    %ul.right
      %li.divider.hide-for-small
      %li.has-dropdown
        = link_to "Admin", admin_index_path
        %ul.dropdown
          %li 
            = link_to "Dashboard", admin_index_path
